body {
    padding: 10px;
}

.header {
    display: flex;
    font-size: large;
    text-transform: uppercase;
    height: 420px;
    background-image: url('./20-11.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
    padding-top: 10px;
}

.title {
    text-transform: uppercase;
    font-size: xx-large;
    padding: 10px;
}

.header .center {
    width: 100%;
    text-align: center;
}

.header .center .middle {}

.header .center div {
    padding: 10px;
}

.header .left_column {
    width: 7%;
    text-align: center;
    margin: auto 0;
    line-height: 2.2;
    font-family: Lucida Console;
    font-weight: lighter;
    font-size: xx-large;
    padding: 0 10px;
}

.header .right_column {
    width: 7%;
    text-align: center;
    margin: auto 0;
    line-height: 1.7;
    font-family: Lucida Console;
    font-weight: lighter;
    font-size: xx-large;
    padding: 0 10px;
}

.main .title {
    text-align: center;
    font-weight: bold;
    display: flex;
}

.main .title img {
    width: 100%;
}

.main .content {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 10px;
}

.main .content .left_column {
    text-align: justify;
    border: 2px solid black;
    padding: 0 8px;
    text-indent: 30px;
}

.main .content .left_column div {
    padding-bottom: 10px;
}

.main .content .right_column {
    text-align: justify;
    border: 2px solid black;
    padding: 0 8px;
}

.main .content .content {
    display: inline-block;
}

.content p {
    text-align: center;
}

.student {
    background-image: url('./linh.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}